.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.input-field{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    font-size: 30px;
    margin:10px;

}

.btn{
    margin: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
     

}